@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

/* FONDO COMPLETO PARA BODY *********************************************************/
body {
    width: 100vw;
    background-image: url("../img/fondo-palmeras.jpg");
    filter: opacity(100%);
    background-size: 100% 120%;
    background-repeat: no-repeat;

}

/* HEADER *****************************************************************************/

.navbar {
    background-color: #f5f5dca1 !important;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #d4bea965;
    color: antiquewhite;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
}

.navbar-nav {
    align-items: flex-end;

}

.nav-link:hover {
    background-color: #f6f6e9c7;
    color: #a1866c9f;
}

.dropdown-menu {
    background-color: #d4bea971;
    border: 0px;
}

.dropdown-item {
    color: antiquewhite;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #f6f6e9c7;
    color: #a1866c9f;
}

.collapse {
    justify-content: end;
}

.navbar-toggler {
    color: #d4bea932;
    border-radius: 5px #f6f6e9c7;
}

/* MAIN*************************************************************** */

.main {
    display: grid;
    background-color: #fafaedcc;
    height: 1000px;
    width: 1273px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.6fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "sectionhome sectionhome sectionhome sectionhome"
        "imghome imghome textohome textohome ."
        "basehome basehome basehome buttontienda";
}

.sectionhome {
    grid-area: sectionhome;
    display: inline-block;
}

.imghome img {
    grid-area: imghome;
    width: 400px;
    display: inline-block;
    margin: 60px 50px;
    padding: 15px;
    background-color: #a1866c62;
    position: absolute;
    border-radius: 3px;

}

.textohome {
    grid-area: textohome;
    display: inline-block;
    background-color: #f6f6e9c7;
    color: #a1866c;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    width: 600px;
    position: relative;
    margin: 50px 0px 20px 550px;
    padding: 30px;
    border-radius: 3px;

}

.buttonconocenos a {

    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin: 5px 0px 0px 350px;
    text-decoration: none;
    background-color: #f5f5dc51;
    color: #c2a48afe;
    font-weight: 600;
    padding: 5px 25px 5px 25px;
    border-radius: 12px;
    border: 2px #8e7d6efe;
}

.buttonconocenos a:hover {
    background-color: #a1866c;
    color: #f5f5e8d8;
    font-weight: bold;
}

.basehome {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basehome img {
    width: 280px;
    height: auto;
    padding: 10px;
    margin: 100px 30px 100px 50px;
    background-color: #a1866c62;
}

.basehome img:hover {
    transform: scale(1.2);
    transition: 1.2s;
    cursor: pointer;
}

.buttontienda {
    display: inline-flex;
}

.buttontienda a {
    grid-area: buttontienda;
    text-align: center;
    margin: 500px 30px 400px 20px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin: 5px 0px 0px 10px;
    background-color: #f5f5dc51;
    color: #c2a48afe;
    font-weight: 600;
    padding: 5px 25px 5px 25px;
    border-radius: 12px;
    border-color: 2px #8e7d6efe;
}

.buttontienda a:hover {
    background-color: #a1866c;
    color: #f5f5e8d8;
    font-weight: bold;
}


/* Nuestra esencia html********************************** */

.esencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.esencia p {

    background-color: #f6f6e9c7;
    color: #a1866c;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 500px;
    padding: 30px;
    padding-bottom: 80px;
    margin: 50px;

}

.esencia img {

    width: 450px;
    margin: 50px;
    padding: 10px;
    background-color: #a1866c62;
}

main img {
    width: 100px;
    margin-left: 450px;
    margin-top: -330px;
}







/* Objetos html***************************************** */



.parrafoobjetos {
    display: block;
    text-align: justify;
    padding: 22px;
    margin: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: rgba(246, 246, 233, 0.779);
    color: #a1866c;
}

.imgobjetos {
    display: flex;
    align-items: center;
    margin: 20px;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.caja img {
    background-color: #a1866c62;
    width: 210px;
    height: auto;
    padding: 5px;
    margin: 40px 40px 10px 40px;
}

.textobjetos {

    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(245, 245, 220, 0.576);
    color: #a1866cd0;
    padding: 3px;
}

/* Tienda html********************************************** */

.titulo {
    display: block;

}

.titulo h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    background-color: #f5f5dc71;
    color: #d4bea9de;
    text-align: left;
    padding: 20px;
    margin: 15px;


}


section .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "card card card card"
        "card card card card"
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 60px;
}

.container .card {
    padding: 5px;
    width: 250px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 .5px .5px;
    overflow-y: hidden;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
    transition: all 0.25s;
    background-color: #f5f5dc97;
    align-items: center;
}

.container .card:hover {
    translate: -15;
}

.container .card img {
    padding: 2px;
    width: 200px;
    height: 250px;
}

.container h4 {
    font-family: 'Quicksand', sans-serif;
    color: #a1866c;
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0 8px;
    padding: 2px;
    background-color: #f5f5dca9;
    border-radius: 3px;

}

.container .card p {
    font-family: 'Quicksand', sans-serif;
    background-color: #f5f5dca9;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 2px 5px 2px;
    margin: 2px;
    color: #a1866c;
    border-radius: 3px;
}

.container .card a {
    text-decoration: none;
    color: #f5f5dca9;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    background-color: #a1866ca0;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;

}

.container .card a:hover {
    box-shadow: 0 3px 4px 0;
    transform: scale(1.1);
    background-color: #f5f5dca9;
    color: #a1866ca0;
    font-weight: bold;
    transition: 0.5s;

}





/* Contacto html *********************************/

.form {
    width: 100%;
}

form {
    display: inline-block;
    padding: 30px;
    margin-left: 350px;
    margin-bottom: 30px;
    background-color: rgba(245, 245, 220, 0.445);
    color: #d4bea9de;
    border: #d4bea9de solid 2px;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
}

form input {
    margin: 5px;
    border: #d4bea9de solid 2px;
    border-radius: 5px;
}

textarea {
    margin: 5px;
    border: #d4bea9de solid 2px;
    border-radius: 5px;
}

button {
    background-color: #f5f5dc51;
    color: #c2a48afe;
    font-weight: 600;
    padding: 5px 25px 5px 25px;
    border-radius: 12px;
    border-color: #d4bea9fe;
    margin-left: 180px;
}

button:hover {
    background-color: #a1866c;
    color: #f5f5e8d8;
    font-weight: bold;
}


/* FOOTER******************************************* */
footer {
    /* background-color: rgba(245, 245, 220, 0.632); */
    background-image: linear-gradient(to top right, #f5f5dcc4, #d4bea9ac, #f5f5dcc4);
    padding: 35px;
    height: 25%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.redes {
    display: flex;
    flex-direction: row;
}

.redes a {
    padding: 10px;
    font-size: 60px;
    color: #be9e80;
    text-align: center;
    text-decoration: none;
}



/* Responsive - media query - Mobile*/
@media (max-width: 480px) {

    /* Html general */
    .titulo h2 {
        font-size: 1rem;
        padding: 10px;
        margin: 8px;
    }

    .navbar-brand img {
        width: 100px;
    }

    body {
        background-size: 100vw 100%;
    }

    footer {
        height: 75px;
    }

    .logo2 img {
        width: 100px;
    }

    .redes {
        flex-direction: row;
    }

    .redes a {
        color: #a1866c;
        padding: 10px;
        font-size: 15px
    }

    /* INDEX */
    .main {
        background-color: #fafaedcc;
        height: 100vh;
        width: 100vw;
        grid-template-areas:
            "sectionhome sectionhome"
            "imghome imghome"
            "basehome basehome"
            "basehome tiendabutton";
    }

    .imghome img {
        grid-area: imghome;
        max-width: 150px;
        margin: 60px 25px 10px;
        padding: 6px;

    }

    .textohome {
        grid-area: textohome;
        font-size: 10px;
        max-width: 180px;
        margin: 8px 0px 0px 200px;
        padding: 15px;

    }

    .buttonconocenos a {
        background-color: #a1866c77;
        font-size: 8px;
        border-radius: 8px;
        margin: 10px 0px 0px 80px;
        padding: 6px;
        color: #f6f6e9c7;
    }

    .basehome img {
        width: 80px;
        padding: 4px;
        margin: 40px 5px 40px 25px;
    }

    .buttontienda a {
        grid-area: buttontienda;
        font-size: 12px;
        margin: 5px 0px 0px 10px;
        font-weight: 600;
        padding: 5px 10px 5px 10px;

    }

    
    /*NUESTRA ESENCIA  */

    .esencia p {
        font-size: 10px;
        width: 250px;
        padding: 10px;
        padding-bottom: 30px;
        margin: 8px;
    
    }
    .esencia img {

        width: 180px;
        margin: 8px;
        padding: 4px;
    }
    main img {
        width: 30px;
        margin-left: 150px;
        margin-top: -130px;
    }
    
    /* NUESTROS OBJETOS */

    .parrafoobjetos {
        max-width: 350px;
        padding: 15px;
        margin: 0 auto;
        font-size: 10px;
    }

    .imgobjetos {
        flex-wrap: wrap;
    }

    .imgobjetos img {
        width: 100px;
        padding: 4px;
        margin: 20px 30px 10px 30px;
    }


   
   
    /* TIENDA */

 .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 10px 10px 10px;
    }

    .container .card {
        padding: 3px;
        width: 95px;
        height: 180px;
        margin: 2px;
        margin-top: 10px;
    }


    .container .card img {
        width: 70px;
        height: 120px;
    }

    .container h4 {
        font-weight: light;
        font-size: 10px;
        margin: 2px;
        padding: 1px;
    }

    .container .card p {
        font-size: 10px;
        font-weight: light;
        padding: 2px;
        margin: 1px;
    }

    .container .card a {
        font-size: 10px;
        padding: 2px;
        margin: 1px;
    }

    .container .card a:hover {
        box-shadow: 0 3px 4px 0;
        transform: scale(1.1);
        background-color: #f5f5dca9;
        color: #a1866ca0;
        font-weight: bold;
        transition: 0.5s;
    }


    /* CONTACTO */
    form {
        width: 80%;
        display: inline-block;
        padding: 5px;
        margin: 10px 60px;
        align-items: center;
        font-size: 12px;
    }

    textarea {
        width: 90%;
        margin: 15px;
    }

    button {
        font-weight: 300;
        padding: 3px 15px 3px 15px;
        border-radius: 10px;
        border-color: #d4bea9fe;
        margin-left: 180px;

    }
}